body {
  text-align: center;
}

h1 {
  text-align: center;
  color: #111;
  padding: 0;
}
h2 {
  text-align: center;
}
body {
  background: white;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px 10px;
}
th {
  background: rgb(21, 4, 98);
  color: #fff;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
td {
  font-weight: 600;
  text-align: center;
}
